.divc {
    background-color:#967593;
    color:green;
   text-align:right;
    border-style:solid;
    border-color:purple;
    list-style-type:none;
   
}
.navbar {
    background-color:#967593;
    border-style:solid;
    border-color:black;
    list-style-type:none;
   
}